body{
    background: whitesmoke;
}

header{
    width: auto;
    margin: 3em 20em 1em 4em;
}

.input{
    width: 70%;
    margin: 5em;
}

#input{
    width: 60%;
    height: 2em;
    position: relative;
    left: 10%;

    padding: 10px 10px 0 10px;
    font-size: 17px;
    font-style: italic;
    font-weight: bold;

}

.botones{
    width: 50%;
    height: 10%;
    position: absolute;
    left: 15%;
    bottom: 10%;
}

#encriptar{
    margin-right: 5%;
    width: 20em;
    height: 70%;
    padding: 10px;
    border-radius: 15px;
    border-width: 3px;
    border-color: aqua;
}

#desencriptar{
    margin-right: 10%;
    width: 20em;
    height: 70%;
    padding: 10px;
    border-radius: 15px;
    border-width: 3px;
    border-color: aqua;
}



  