body{
    position: absolute;
    width: 100%;
    height: 100%;
    background: whitesmoke;
}

header{
    position: relative;
    width: 40%;
    margin: 5%;
}

main{
    position: relative;
    width: 100%;
    height: 100%;
}

.input{
    width: 40%;
    position: relative;
    margin-left: 10%;
    padding-right: 5%;
    display: inline-block;
   vertical-align: top;

}

#input{
    width: 80%;
    height: 2em;
    position: relative;

    padding: 10px 10px 0 10px;
    font-size: 17px;
    font-style: italic;
    font-weight: bold;

}

.respuesta{
    width: 30%;
    height: 60%;
    padding: 2%;
    display: inline-block;

    position: relative;
    
    text-align: center;
    border: 3px solid aqua;
    background: aqua;
    border-radius: 20px;
}

.respuesta img{
    width: 50%;
    margin: 10% auto;

}

.respuesta h2{
    width: 100%;
    padding-bottom: 3%;
    position: relative;
    font-size: 140%;
    font-weight: bold;

}
.respuesta h6{
    width: 100%;
    position: relative;
    font-size: 100%;
}

.informacion{
    position: absolute;
    left: 15%;
    bottom: 22%;
}

.botones{
    width: 50%;
    height: 10%;
    position: absolute;
    left: 14%;
    bottom: 10%;
}

#encriptar{
    margin-right: 3%;
    width: 20em;
    height: 70%;
    padding: 10px;
    border-radius: 15px;
    border-width: 3px;
    border-color: aqua;
    color: white;
    font-size: 15px;
    font-weight: bold;
    background: hwb(180 0% 15%);
}

#desencriptar{
    margin-right: 3%;
    width: 20em;
    height: 70%;
    padding: 10px;
    border-radius: 15px;
    border-width: 3px;
    border-color: aqua;
    color: white;
    font-size: 15px;
    font-weight: bold;
    background: hwb(180 0% 15%);
}

footer{
    width: 100%;
    text-align: center;
}

footer img{
    position: relative;
    width: 5%;
    height: 5%;
    border: 3px solid aqua;
    border-radius: 50%;
    
}
footer .copyright{
    position: relative;
    font-size: 90%;
    font-weight: bold;
}

  